/* ######## Fonts ######## */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #812519;
  --secondary-color: #f39070;
  --bg-darker: #212529;
  --bg-dark: #212529d9;
  --bg-light-dark: #2125294d;
  --btn-hover-color: #722016;
  --light-rose-color: #9e7577;
  --rose-color: #eec0c8;
}

/* ######## General ######## */
body {
  font-family: "Poppins", serif;
  position: relative;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Audiowide", sans-serif;
}

.special-character {
  color: var(--rose-color);
}

.min-h-100 {
  min-height: 100%;
}

/* ######## Background ######## */
.bg-character,
.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-character {
  background-image: url("../assets/images/character.webp");
  z-index: -1;
  animation: float 5s ease-in-out infinite;
}

.bg-img {
  background-image: url("../assets/images/bg.webp");
  background-size: cover;
  z-index: -2;
}

/* ######## Navbar ######## */
.navbar {
  margin-top: 3em;
  padding-inline: 2.5em;
  border-radius: 1.5em;
  width: 85%;
  background-color: var(--bg-light-dark);
  backdrop-filter: blur(10px);
}

.btn-play {
  border-radius: 1em 1em 1em 0;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: 0.4s ease;
}

.btn-play:hover,
.btn-play:focus-visible,
#gamesRow .btn-play:active {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
  box-shadow: none;
}

#navbarNav .btn:first-child:active {
  border: none;
  color: unset;
  opacity: 1;
}

#navbarNav .btn:first-child:focus-visible {
  box-shadow: none;
}

/* ######## Game Cards ######## */
.cards-container {
  background-color: var(--bg-light-dark);
  backdrop-filter: blur(10px);
  width: 85%;
  color: #fff;
  border-radius: 1.5em;
  padding: 2.5em;
  margin: 9em auto;
}

.game-card {
  transition: all 0.4s ease-in;
  cursor: pointer;
  border-radius: 1.5em;
}

.game-card img {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.game-card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 1em var(--rose-color));
}

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}

.price-label {
  background-color: var(--secondary-color);
  color: #fff;
}

.category-label {
  background-color: var(--light-rose-color);
  color: #fff;
}

.type-label {
  background-color: var(--primary-color);
  color: #fff;
}

/* ######## Modal ######## */
.modal {
  background-color: var(--bg-dark);
  padding-inline: 1.5em;
  z-index: 1040;
}

.modal #gameDescription {
  font-size: 0.875em;
}

.modal-container {
  display: flex;
  border-radius: 1.5em;
  position: relative;
  flex-direction: column;
}

/* ######## Loading Page ######## */
.loading-page {
  background-color: var(--bg-darker);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.loader {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--primary-color);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
